.login {

    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-frame {
    width: 80%;
    
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.login-header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.title {
    color: #ff0000;
    font-weight: bold;
    margin-left: 20px;
}

.login-content {
    padding: 20px;
}

.login-container {
    text-align: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.login-title {
    font-size: 18px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-login {
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.forgot-password {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}